.aboutSection {
  padding: 30px 2%;
  color: #F0F0F0;
}

.aboutContent,
.tools {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.toolItem {
  text-align: center;
  flex: 1 1 24%;         /* Grow and shrink as needed, taking up roughly 23% of the container width */
  margin-right: 1%;            /* Adds space between the items */
}

.left {
  flex: 1;
  margin-right: 3%;
}

.right {
  flex: 1;
}

.skills {
  list-style: none;
}

.skills li {
  background-color: #1a1a1a;
  padding: 8px 16px;
  margin-bottom: 8px;
  border-radius: 5px;
  color: #A64CA6;
  font-size: 20px;
}
