/* styles/Experience.module.css */

.experienceSection {
  padding: 30px 2%;
  color: #fff; /* #F0F0F0 text for readability */
}

.sectionTitle {
  margin-bottom: 20px;
  text-align: center;
}

.experienceBlock {
  margin-bottom: 40px;
}

.jobTitle {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

.companyName {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 10px;
}

.jobDetails {
  list-style-type: disc;
  padding-left: 20px;
}

.jobDetails li {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #888;
}
