.footer {
  background-color: #050810;
  /* color: #F0F0F0; */
  padding: 30px 2%;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSection h4 {
  font-size: 24px;
  margin-bottom: 16px;
}

.leftSection p {
  font-size: 16px;
  line-height: 1.6;
  max-width: 400px;
}

.rightSection h4 {
  font-size: 24px;
  margin-bottom: 16px;
}

.socialIcons {
  display: flex;
  gap: 16px;
}

.socialIcons a {
  font-size: 24px;
  color: #F0F0F0;
  text-decoration: none;
  transition: all .5s ease-in-out;
}

.socialIcons a:hover {
  color: #A64CA6;
}

.footerBottom {
  text-align: center;
  padding: 16px 0;
  border-top: 1px solid #333;
}

.footerBottom p {
  margin: 0;
  font-size: 14px;
  color: #ccc;
}
