/* Define the regular weight (400) of Montserrat Alternates */
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Define the bold weight (700) of Montserrat Alternates */
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Reset default margins and paddings */
*, *::after, *::before  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

body {
  background-color: #050810;
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;
  line-height: 1.6;
  transition: all .5s ease-in-out;
}

button,
input,
textarea {
  font-family: 'Montserrat Alternates', sans-serif;
}

/* Utility classes */
.text-center {
  text-align: center;
}

/* Flex utility */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

/* Responsive utility */
@media (max-width: 768px) {
  /* Mobile styles */
  body {
      font-size: 14px; /* Adjust font size for mobile */
  }
}

a {
  color: rgb(132, 6, 132);
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin-bottom: 15px;
  color: rgb(132, 6, 132);
}

h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
}

button {
  background-color: rgb(132, 6, 132);
  color: #050810;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-weight: bold;
  transition: all .5s ease-in-out;
}

button:hover {
  background-color: #08c24b;
}

.center {
  text-align: center;
}

