.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #050810;
}

.logo a {
  font-size: 24px;
  color: #A64CA6;
  font-weight: bold;
  margin-left: 10px;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 24px;
}

.navLinks a {
  color: #fff;
  transition: all .5s ease-in-out;
}

.navLinks a:hover {
  color: #A64CA6;
}

.logoWrapper {
  display: inline-block;
  border-radius: 50%; /* Keep the circular shape */
  max-width: 65px; /* Set the maximum width */
}

.logoWrapper img {
  width: 100%; /* Make the image responsive to the container */
  height: 100%; /* Ensure it covers the entire wrapper */
  object-fit: cover; /* Ensures image scales correctly without distortion */
}


.logoWrapper img {
  object-fit: cover; /* Ensure the image fills the circular container */
}

.logoWrapper:hover{
  display: inline-block;
  animation: heartbeat 1.5s ease-in-out infinite; /* Adjust the duration and timing function */
  transform-origin: center center;
}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2); /* First pulse */
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2); /* Second pulse */
  }
}