.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #050810;
}

.logo a {
  font-size: 24px;
  color: #10e956;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 24px;
}

.navLinks a {
  color: #fff;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: #10e956;
}
