.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #050810;
}

.logo a {
  font-size: 24px;
  color: rgb(132, 6, 132);
  font-weight: bold;
  margin-left: 10px;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 24px;
}

.navLinks a {
  color: #fff;
  transition: all .5s ease-in-out;
}

.navLinks a:hover {
  color: rgb(132, 6, 132);
}

.logoWrapper  {
  display: inline-block;
  width: 65px; /* Match the Image size */
  height: 65px; /* Match the Image size */
  overflow: hidden;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.logoWrapper img {
  object-fit: cover; /* Ensure the image fills the circular container */
}

.logoWrapper:hover{
  display: inline-block;
  animation: heartbeat 1.5s ease-in-out infinite; /* Adjust the duration and timing function */
  transform-origin: center center;
}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2); /* First pulse */
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2); /* Second pulse */
  }
}